# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xmake cache
.xmake/
vsxmake2022/
build/

# Rider cache
.idea/

# MacOS Cache
.DS_Store
/distrib

imgui.ini
GAME_FOLDER
